{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interests</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="formContainer">
        <form action="{% url 'interests' %}" method="post">
            {% csrf_token %}
            <label for="interests">Interests</label>
            <input type="text" id="interests" name="interests">
            <small style="display: block;">Separate interests using &nbsp;&nbsp;, </small>
            <input type="submit">
        </form>
        
    </div>
    
</body>
</html>